<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:if="${@environment.getActiveProfiles()[0] != 'development'}">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    </th:block>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Vue Starter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/dist/main.css}">
</head>
<body>
<div id="app-root">
    <th:block>
    </th:block>
<!--    <keep-alive>-->
<!--        <router-view th:if="msg!=null" th:attr="'alert-message'=${msg},'alert-type'=${state}"></router-view>-->
        <router-view></router-view>
<!--    </keep-alive>-->
</div>
<script type="application/javascript" th:src="@{/js/dist/main.js}"></script>
</body>
</html>
