<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <th:block th:if="${@environment.getActiveProfiles()[0] != 'development'}">-->
<!--        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->
<!--    </th:block>-->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Vue Starter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/dist/vendors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/js/dist/main.css}">
</head>
<body>
<div id="app-root">
    <div>
        <password-reset th:attr="user-id=${userId},token=${token}" inline-template>
            <form>
                <div class="hero is-fullheight">
                    <div class="hero-body">
                        <div class="container">
                            <div class="columns is-centered">

                                <div class="column is-12-mobile is-6">
                                    <article class="message is-medium">
                                        <div class="message-header">
                                            <p>Password Reset</p>
                                            <button class="delete" aria-label="delete"></button>
                                        </div>
                                        <div class="message-body">
                                            Enter your new password, the password must be at least 16 characters in
                                            length, with Uppercase , lowercase, numbers and special characters
                                        </div>
                                    </article>
                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input v-model="passwordResetRequest.password" class="input" type="password"
                                                   placeholder="New Password">
                                            <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input v-model="passwordResetRequest.confirmPassword" class="input"
                                                   type="password" placeholder="Confirm password">
                                            <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <div class="control is-block">
                                            <button @click.prevent="resetPassword()" class="button  is-fullwidth is-success">
                                                Reset Password
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

        </form>
        </password-reset>
    </div>
</div>
<script type="application/javascript" th:src="@{/js/dist/runtime.js}"></script>
<script type="application/javascript" th:src="@{/js/dist/vendors.bundle.js}"></script>
<script type="application/javascript" th:src="@{/js/dist/main.js}"></script>
</body>
</html>