html{
  background-color: #f2f2f2;
}
body {
  background-color: #f2f2f2;
  height: 100%;
}
.menu-list a {
  border-radius: 2px;
  color: #4a4a4a;
  display: block;
  padding: 0.5em 0.2em;

}
.menu-list li ul {
  border-left: 0px solid #dbdbdb;
  margin: 0rem;
  padding-left: 0rem;

  li {
    a {
      padding-left: 0.9rem;
    }
  }

  //a {
  //  &:hover {
  //    background-color: #000000;
  //  }
  //}
}

.menu-list a {
  border-radius: 2px;
  color: #ffffff;
  display: block;
  //padding: 0.5em 0.75em;
}

.menu-list a:hover {
  background-color: #000000;
  border-left: 4px solid #1d8e72;
  color: #FFFFFF;
}

.breadcrumb{
  display: flex;
  ul{
    align-self: center;
  }
}

.vue-portal-target {
  display: flex;
  justify-content: flex-end;
}