<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:if="${@environment.getActiveProfiles()[0] != 'development'}">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    </th:block>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Vue Starter|Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/js/dist/main.css}">
</head>
<body>
<div id="app-root">
    <div>
        <div sec:authorize="isAuthenticated()">
            <router-view  th:attr="user=${#authentication.getPrincipal().toJson()}">
            </router-view>
        </div>
        <router-view sec:authorize="isAnonymous()">
        </router-view>
    </div>
</div>
<script type="application/javascript" th:src="@{/js/dist/main.js}"></script>
</body>
</html>